name: CI Pipeline

on:
  push:
    branches: [ main, dev ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          pip install -r api/requirements.txt
          pip install mlflow dvc

      - name: Run training script (basic test)
        run: |
          python ml/train.py

      - name: Print success message
        run: echo "CI Pipeline executed successfully"

      - name: Build Docker image
        run: |
          docker build -t kt-exam -f Docker/Dockerfile .
